<h1>Exciting and Beautiful Adventures Ahead!</h1>

<% for(var i=0; i < campgrounds.length; i++){ %>
  <div>
    <h4><%= campgrounds[i].name %></h4>
    <img src="<%= campgrounds[i].img %>">
  </div>
<% } %>
