<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <h1>Welcome to YelpCamp!</h1>

    <p>The number one website for camping</p>

    <a href="/campgrounds" class="btn btn-primary btn-lg"
      >View All Campgrounds!</a
    >
  </header>
</div>
<% include partials/footer %>
