<% include partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.img %>" alt="">
<p></p>
<div class="">
  <p><i><%= campground.description %></i></p>
</div>

<% include partials/footer %>
